/*=============================================
=                   Megamenu                  =
=============================================*/
.random_columns{
    column-gap: 20px;
    &*{
        word-break: break-word;
        white-space: normal;
    }
}
.count_2{
    column-count: 2;
}
.count_3{
    column-count: 3;
}
.count_4{
    column-count: 4;
}
.count_5{
    column-count: 5;
}
/*=====  End of Megamenu  ======*/